.addIcon {
  height: 50px;
  width: 50px;
}

.closetItem, img {
  display: inline-block;
  object-fit: cover;
  height: 275px;
  width: 175px;
}

.home, img {
    display: inline-block
  }
  
li {
  display: inline-block;
  margin-right: 30px;
  margin: 5px;
}

li img {
  display: inline-block;
  margin-right: 30px;
  margin: 5px;
}

.newUserNotice {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
  text-align: center;
  width: 250px;
}
  
ul {
  list-style: none;
  padding: 0;
}

  